<div class="card" data-controller="favourite">
  <div class="image-container">
    <a href="https://www.google.com/maps/search/?api=1&query=<%= spot.latitude %>,<%= spot.longitude %>" target="_blank" class="direction" onclick="event.stopPropagation();">
      <i class="fa-solid fa-diamond-turn-right"></i>
    </a>
    <i class="like <%= current_user.favourites.find_by(spot: spot).nil? ? 'fa-regular' : 'fa-solid' %> fa-heart"
       data-action="click->favourite#setFavourite"
       data-favourite-id-value="<%= spot.id %>"
       onclick="event.stopPropagation();">
    </i>
    <% if spot.photos.attached? %>
      <%= cl_image_tag spot.photos.first.key %>
    <% else %>
      <%= image_tag "default_photo.png", alt: "Default Image" %>
    <% end %>
  </div>
  <div class="card-body">
    <h3 class="card-title"><%= link_to spot_path(spot), class: "text-decoration-none text-dark" do %>
      <%= spot.name %>
    <% end %></h3>
    <div class="card-location opacity-75"><%= spot.location %></div>
    <% if spot.reviews.count > 0 %>
      <div>
        <i class="fa-solid fa-star"></i> <%= spot.reviews.average(:rating) %>
      </div>
    <% end %>
  </div>
  <%= link_to spot_path(spot), class: "stretched-link" do %>
  <% end %>
</div>
