<%= link_to spot_path(spot), class:"text-decoration-none text-dark " do %>
  <div class="spot-card" data-controller="favourite">
    <div class="image-container">
      <% if spot.photos.attached? %>
        <% favourite = current_user.favourites.find_by(spot: spot) %>
        <i class="like <%= favourite.nil? ? 'fa-regular' : 'fa-solid' %> fa-heart" data-action="click->favourite#setFavourite" data-favourite-id-value="<%= spot.id %>"></i>
        <%= cl_image_tag spot.photos.first.key %>
      <% else %>
        <%= image_tag "default_photo.png", alt: "Default Image" %>
      <% end %>
    </div>
    <div class="mt-2">
      <a href="https://www.google.com/maps/search/?api=1&query=<%= spot.latitude %>,<%= spot.longitude %>" target="_blank" class="direction">
        <i class="fa-solid fa-diamond-turn-right"></i>
      </a>
    </div>
    <div class="card-body">
      <h3 class="card-title"><%= spot.name %></h3>
      <div class="card-location opacity-75"><%= spot.location %></div>
      <% if spot.reviews.count > 0 %>
        <div>
          <i class="fa-solid fa-star"></i> <%= spot.reviews.average(:rating) %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
