<div class="card">
  <div class="image-container">
    <i class="like <%= current_user.favourites.find_by(spot: spot).nil? ? 'fa-regular' : 'fa-solid' %> fa-heart"
       data-controller="favourite"
       data-action="click->favourite#toggle"
       data-favourite-path-value="<%= set_favourite_spot_path(spot) %>"
       onclick="event.stopPropagation();">
    </i>
    <% if spot.photos.attached? %>
      <%= cl_image_tag spot.photos.first.key %>
    <% else %>
      <%= image_tag "default_photo.png", alt: "Default Image" %>
    <% end %>
  </div>
  <div class="card-body">
    <div class="card-title"><%= link_to spot_path(spot), class: "text-decoration-none text-dark" do %>
      <%= spot.name %>
    <% end %></div>
    <div class="card-location opacity-75"><%= spot.location %></div>
  </div>
  <%= link_to spot_path(spot), class: "stretched-link" do %>
  <% end %>
</div>
