<%= form_with url: spots_path, method: :get, class:"filters" do %>
  <%= select_tag :location, options_for_select(Spot.all.sort_by(&:location).pluck(:location).uniq, params[:location]), class:"form-select", include_blank: "Location" %>
  <%= select_tag :wave_type, options_for_select(Spot.all.sort_by(&:wave_type).pluck(:wave_type).uniq, params[:wave_type]), class:"form-select", include_blank: "Wave type" %>
  <%= select_tag :difficulty, options_for_select(Spot.all.sort_by(&:difficulty).pluck(:difficulty).uniq, params[:difficulty]), class:"form-select", include_blank: "Difficulty"%>

  <div class="sort_by d-flex justify-content-center ">
    <%= check_box_tag :average_rating, 'average', label: "average", placeholder: "average" %>
    <%= label_tag :average_rating, "Sort by average rating" %>
  </div>
  <%= submit_tag "Filter", name: "", class: "button w-100" %>
  <% if @spots.empty? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
    No spots found matching your filters.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
    <div class="spot-cards"></div>
<% end %>
