<div class="card">
  <div class="image-container">
    <%= cl_image_tag(@spot.photos.attached? ? @spot.photos.first.key : "default_photo", crop: :fill, class: 'img-fluid') %>
  </div>
  <div class="card-body">
    <div>
      <%= @spot.description %>
    </div>
    <div>
      <strong>Wave type:</strong> <%= @spot.wave_type %>
    </div>
    <div>
      <strong>Difficulty:</strong> <%= @spot.difficulty %>
    </div>
  </div>
  <i class="bi bi-camera-reels-fill" data-bs-toggle="modal" data-bs-target="#videoModal"></i>
</div>

<div data-controller="weather-infos-scroll">
  <div class="card hours" data-action="scroll->weather-infos-scroll#scroll" data-weather-infos-scroll-target="details">
    <% @hours.each do |value| %>
      <% if value % 2 == 0 %>
        <div class="info"><%= value %>h</div>
      <% end %>
    <% end %>
  </div>
  <div class="weather-infos" data-action="scroll->weather-infos-scroll#scroll" data-weather-infos-scroll-target="details">
    <% @hours.each_with_index do |value, index| %>
      <% if value % 2 == 0 %>
        <div class="card infos">
          <div class="info cloud">
            <% cloud_cover = @weather_data["cloud_cover"][index] %>
            <% if cloud_cover.present? %>
              <%= image_tag(cloud_cover > 66 ? "cloud.svg" : (cloud_cover < 33 ? "sun.svg" : "cloud-sun.svg"), style: "width: 48px") %>
            <% else %>
              <%= image_tag(asset_path("default-image.svg"), style: "width: 48px") %>
            <% end %>
          </div>
          <div class="card info">
            <div class="info-title">Water</div>
            <% water_temperature = @weather_data["water_temperature"][index] %>
            <% if water_temperature.present? %>
              <%= water_temperature.round %>°C
            <% else %>
              N/A
            <% end %>
          </div>
          <div class="card info swell d-flex flex-column gap-3 align-items-center">
            <div class="info-title">Swell</div>
            <% swell_period = @weather_data["swell"][index][0] %>
            <% swell_direction = @weather_data["swell"][index][1] %>
            <% swell_height = @weather_data["swell"][index][2] %>
            <% if swell_period.present? && swell_direction.present? && swell_height.present? %>
              <%= swell_period.round %>s
              <%= image_tag "north-arrow.svg", style: "transform: rotate(#{swell_direction}deg); width: 24px" %>
              <%= swell_height.round(1) %> m
            <% else %>
              N/A
            <% end %>
          </div>
          <div class="card info">
            <div class="info-title">Wind</div>
            <% wind_direction = @weather_data["wind"][index][0] %>
            <% wind_speed = @weather_data["wind"][index][1] %>
            <% if wind_direction.present? && wind_speed.present? %>
              <%= image_tag "north-#{wind_speed < 2.5 ? "green" : (wind_speed > 5 ? "red" : "orange")}-arrow.svg", style: "transform: rotate(#{wind_direction}deg); width: 24px" %>
            <% else %>
              <%= image_tag "north-orange-arrow.svg", style: "width: 24px" %>
            <% end %>
          </div>
          <div class="card info">
            <div class="info-title">Current</div>
            <% current_direction = @weather_data["current"][index][0] %>
            <% current_speed = @weather_data["current"][index][1] %>
            <% if current_direction.present? && current_speed.present? %>
              <%= image_tag "north-#{current_speed < 0.05 ? "green" : (current_speed > 0.15 ? "red" : "orange")}-arrow.svg", style: "transform: rotate(#{current_direction}deg); width: 24px" %>
            <% else %>
              <%= image_tag "north-orange-arrow.svg", style: "width: 24px" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="video-player-component">
      <div class="video-player-container loading"
        data-controller="video-player"
        data-video-player-url-value="<%= @url %>">
        <div data-video-player-target="player"></div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>
