<div class="card">
  <div class="image-container">
    <%= cl_image_tag(@spot.photos.attached? ? @spot.photos.first.key : "default_photo", crop: :fill, class: 'img-fluid') %>
  </div>
  <div class="card-body">
    <div>
      <%= @spot.description %>
    </div>
    <div>
      <strong>Wave type:</strong> <%= @spot.wave_type %>
    </div>
    <div>
      <strong>Difficulty:</strong> <%= @spot.difficulty %>
    </div>
  </div>
  <i class="bi bi-camera-reels-fill" data-bs-toggle="modal" data-bs-target="#videoModal"></i>
</div>

<div data-controller="weather-infos-scroll">
  <div class="card hours" data-action="scroll->weather-infos-scroll#scroll" data-weather-infos-scroll-target="details">
    <% @hours.each do |value| %>
      <% if value % 2 === 0 %>
        <div class="info"><%= value %>h</div>
      <% end %>
    <% end %>
  </div>
  <div class="weather-infos" data-action="scroll->weather-infos-scroll#scroll" data-weather-infos-scroll-target="details">
    <% @hours.each_with_index do |value, index| %>
      <% if value % 2 === 0 %>
        <div class="card infos">
          <div class="info cloud">
            <%= image_tag "#{@weather_data["cloudCover"][index] > 66 ? "cloud.svg" : (@weather_data["cloudCover"][index] < 33 ? "sun.svg" : "cloud-sun.svg")}", style: "width: 48px" %>
          </div>
          <div class="card info">
            <div class="info-title">Water</div>
            <%= @weather_data["water_temperature"][index].round %>°C
          </div>
          <div class="card info swell d-flex flex-column gap-3 align-items-center">
            <div class="info-title">Swell</div>
            <%= @weather_data["swell"][index][0].round %>s
            <%= image_tag "north-arrow.svg", style: "transform: rotate(#{@weather_data["swell"][index][1]}deg); width: 24px" %>
            <%= @weather_data["swell"][index][2].round(1) %> m
          </div>
          <div class="card info">
            <div class="info-title">Wind</div>
            <%= image_tag "north-#{@weather_data["wind"][index][1] < 2.5 ? "green" : (@weather_data["wind"][index][1] > 5 ? "red" : "orange")}-arrow.svg", style: "transform: rotate(#{@weather_data["wind"][index][0]}deg); width: 24px" %>
          </div>
          <div class="card info">
            <div class="info-title">Current</div>
            <%= image_tag "north-#{@weather_data["current"][index][1] < 0.05 ? "green" : (@weather_data["current"][index][1] > 0.15 ? "red" : "orange")}-arrow.svg", style: "transform: rotate(#{@weather_data["current"][index][0]}deg); width: 24px" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="video-player-component">
        <div class="video-player-container loading"
          data-controller="video-player"
          data-video-player-url-value="<%= @url %>">
          <div data-video-player-target="player"></div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>
  </div>
</div>
