<%= link_to spot_path(spot), class: "text-decoration-none text-dark card-link" do %>
  <div>
    <div class="image-container">
      <% if spot.photos.attached? %>
        <%= cl_image_tag(spot.photos.first.key, class: "") %>
      <% else %>
        <%= cl_image_tag("default_photo") %>
      <% end %>
    </div>
    <div class="card-body">
      <h5 class="card-title justify-content"><%= spot.name %></h5>
      <div class="card-location opacity-75"><%= spot.location %></div>
      <div class="card-info d-flex justify-content-center">
        <p class="card-wave"><%= spot.wave_type %></p>
      </div>
    </div>
  </div>
<% end %>
