<% content_for(:page) do %>
  <%= @spot.name %>
<% end %>

<div class="container" data-controller="switch" style="padding-bottom: 50px">
  <div class="switch mb-3">
    <input id="status"
          type="checkbox"
          name="status"
          data-action="click->switch#fire">
    <label for="status">
      <div class="status-switch"
          data-unchecked="Infos"
          data-checked="Posts">
      </div>
    </label>
  </div>
  <div data-switch-target="one">
    <%= render "infos", url: @url %>
  </div>
  <div data-switch-target="two" class="experiences disapear">
    <% @spot.experiences.each do |experience| %>
      <%= render "shared/experience", experience: %>
    <% end %>
  </div>
</div>

<div class="button round experience-button" data-action="click->experience#toggle">
  <i class="fa-solid fa-plus"></i>
</div>
<%= render "shared/experience_form", spot: @spot %>

<div class="button round direction-button">
  <a href="https://www.google.com/maps/search/?api=1&query=<%= @spot.latitude %>,<%= @spot.longitude %>" target="_blank" class="text-decoration-none text-white">
    <i class="fa-solid fa-diamond-turn-right"></i>
  </a>
</div>
