<% content_for(:page) do %>
  User profile
<% end %>
<div class="container">
  <div class="profile-page-details">
    <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "profile-buttons" do %>
      <i class="fa-solid fa-comments"></i>
    <% end %>
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, class: "avatar-profile", crop: :fill %>
    <% else %>
      <%= image_tag "default_pfp.jpg", class: "avatar-profile", crop: :fill %>
    <% end %>
    <div class="profile-infos">
      <h5><%= @user.first_name %> <%= @user.last_name %></h5>
      <div class="follow">
        <div>
          <p><%= @user.experiences.count %></p>
          <p>Posts</p>
        </div>
        <div>
          <p><%= Follow.where(second_user: @user).count %></p>
          <p>Followers</p>
        </div>
        <div>
          <p><%= @user.follows.count %></p>
          <p>Following</p>
        </div>
      </div>
      <div class="button mt-3"
            data-controller="follow"
            data-action="click->follow#toggle"
            data-follow-path-value="<%= set_follow_user_path(@user) %>">
        <i class="fa-solid <%= current_user.follows.find_by(second_user: @user) ? 'fa-user-minus' : 'fa-user-plus' %>" id="icon"></i>
        <%= current_user.follows.find_by(second_user: @user) ? "Unfollow" : "Follow" %>
      </div>
    </div>
  </div>
  <div class="profile-page">
    <div class="profile-header"><h4>Favorites</h4></div>
    <% if @user.favourites.count == 0 %>
      <p>This user doesn't have any favorites yet</p>
    <% else %>
      <div class="favourites">
        <% @user.favourites.each_with_index do |fav, index| %>
          <div>
            <%= render "spots/cards", spot: fav.spot %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="profile-header">
      <h4>Boards</h4>
    </div>
    <% if @user.boards.count == 0 %>
      <p>This user doesn't have any boards yet</p>
    <% else %>
      <div class="boards-list">
        <% @user.boards.each do |board| %>
          <div class="card-board" data-controller="flip" data-action="click->flip#rotate">
            <div class="card-board-inner" data-flip-target="card">
              <div class="card-board-front">
                <% if board.image.attached? %>
                  <%= cl_image_tag board.image.key, class: "board-image" %>
                <% else %>
                  <%= image_tag "surf-default.webp", alt: "Default Image", class: "board-image" %>
                <% end %>
              </div>
              <div class="card-board-back">
                  <div><strong>Brand:</strong> <div class="board-details"><%= board.brand %></div></div>
                  <div><strong>Shape:</strong> <div class="board-details"><%= board.shape.capitalize %></div></div>
                  <div>
                    <strong>Dimensions:</strong>
                    <div class="board-details">
                      <%= board.length.to_s.gsub(/(\d+)\.(\d+)/, '\1\'\2"') %> x
                      <%= board.width.to_s.gsub(/(\d+)\.(\d+)/, '\1\'\2"') %> x
                      <%= board.thickness.to_s.gsub(/(\d+)\.(\d+)/, '\1\'\2"') %>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="profile-header"><h4>Experiences</h4></div>
    <% if @user.experiences.count == 0 %>
      <p>This user doesn't have any experiences yet</p>
    <% else %>
      <div class="experiences">
        <% @user.experiences.reverse.each do |experience| %>
          <%= render "shared/experience", experience: experience %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
