<div class="experience-card">
  <%= link_to (experience.user === current_user ? dashboard_path : user_path(experience.user)), class: "text-decoration-none experience-header" do %>
    <div>
      <%= image_tag "default_pfp.jpg", class: "avatar", crop: :fill %>
    </div>
    <div class="profile-details">
      <div class="card-user-name"><%= experience.user.first_name %> <%= experience.user.last_name %></div>
      <div><%= experience.spot.location %></div>
    </div>
    <% unless (params[:action] === 'show' && params[:controller] === 'users') || current_page?(dashboard_path) || experience.user === current_user %>
      <object>
        <i class="fa-solid <%= current_user.follows.find_by( second_user: @user ) ? 'fa-user-minus' : 'fa-user-plus' %> follow"
           data-controller="follow"
           data-action="click->follow#quickToggle"
           data-follow-path-value="<%= set_follow_user_path(experience.user) %>">
        </i>
      </object>
    <% end %>
  <% end %>
  <div class="image-container">
    <% if experience.photos.attached? %>
      <%= cl_image_tag experience.photos.first.key %>
    <% else %>
      <%= image_tag "default_photo.png", alt:"Default Image" %>
    <% end %>
  </div>
  <div class="card-body">
    <div class="experience-actions">
      <i class="<%= current_user.likes.find_by(experience:) ? 'fa-solid' : 'fa-regular' %> fa-heart"
         data-controller="like"
         data-action="click->like#toggle"
         data-like-path-value="<%= set_like_experience_path(experience) %>">
      </i>
      <i class="fa-solid fa-comment"></i>
    </div>
    <i>"<%= experience.content %>"</i>
    <div class="opacity-75"><%= time_ago_in_words(experience.created_at).capitalize %> ago</div>
  </div>
</div>
