<div class="navbar navigation sticky-bottom">
  <%= link_to spots_path, class: "navbar-item #{"active" if current_page?(spots_path) || current_page?(root_path)}" do %>
    <i class="fa-solid fa-house"></i>
    <div>Home</div>
  <% end %>
  <%= link_to map_path, class: "navbar-item #{"active" if current_page?(map_path)}" do %>
    <i class="fa-solid fa-map"></i>
    <div>Map</div>
  <% end %>
  <div class="navbar-item <%= "pe-none disabled" unless params[:action] == 'show' && params[:controller] == 'spots' %>" data-action="click->experience#toggle">
    <i class="fa-solid fa-pen-to-square"></i>
    <div>Post</div>
  </div>
  <%= link_to feed_path, class: "navbar-item #{"active" if current_page?(feed_path)}" do %>
    <i class="fa-solid fa-chart-line"></i>
    <div>Feed</div>
  <% end %>
  <%= link_to dashboard_path, class: "navbar-item #{"active" if current_page?(dashboard_path)}" do %>
    <i class="fa-solid fa-user"></i>
    <div>Profile</div>
  <% end %>
</div>
