<div class="navbar navigation sticky-bottom">
  <%= link_to spots_path, class: "navbar-item icon #{"active" if current_page?(spots_path) || current_page?(root_path)}" do %>
    <i class="bi bi-house"></i>
  <% end %>
  <%= link_to map_path, class: "navbar-item icon #{"active" if current_page?(map_path)}" do %>
    <i class="bi bi-map"></i>
  <% end %>
  <%= link_to feed_path, class: "navbar-item icon #{"active" if current_page?(feed_path)}" do %>
    <i class="bi bi-graph-up"></i>
  <% end %>
  <%= link_to chats_path, class: "navbar-item icon #{"active" if current_page?(chats_path)}" do %>
    <i class="bi bi-chat"></i>
  <% end %>
  <%= link_to dashboard_path, class: "navbar-item icon #{"active" if current_page?(dashboard_path)}" do %>
    <% if current_user.photo.present? %>
      <%= cl_image_tag current_user.photo.key, class: "avatar-profile", crop: :fill %>
    <% else %>
       <%= image_tag "default_pfp.jpg", class: "chat-avatar-profile", crop: :fill %>
    <% end %>
  <% end %>
</div>
