<% content_for(:page) do %>
  Your chats
<% end %>
<div class="container">
  <div class="chats">
    <% @chats.each do |chat| %>
      <%= link_to chat_path(chat), class: "chat" do %>
        <% if chat.second_user.photo.attached? %>
          <%= cl_image_tag chat.second_user.photo.key, class: "avatar", crop: :fill %>
        <% else %>
          <%= image_tag "default_pfp.jpg", class: "avatar", crop: :fill %>
        <% end %>
        <div class="chat-body">
          <div class="chat-receiver"><%= chat.first_user == current_user ? chat.second_user.first_name : chat.first_user.first_name %></div>
          <% if chat.messages.count != 0 %>
            <div class="preview">
              <div class="text-truncate"><%= "You:" if chat.messages.last.user === current_user %> <%= chat.messages.last.content.truncate(25) %></div>
              <div><%= chat.messages.last.created_at.strftime("%l:%M %p") %></div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
