<% content_for(:page) do %>
  <%= @chat.second_user.first_name %>
<% end %>

<div class="chat-show"
     data-controller="chat-subscription"
     data-chat-subscription-chat-id-value="<%= @chat.id %>"
     data-chat-subscription-current-user-id-value="<%= current_user.id %>">
  <div class="messages" data-chat-subscription-target="messages">
    <% @chat.messages.each do |message| %>
      <%= render "messages/message", message: %>
    <% end %>
  </div>
  <%= simple_form_for [@chat, @message], html: { data: { action: "turbo:submit-end->chat-subscription#resetForm" }, class: "chat-input" } do |f| %>
    <%= f.input :content, label: false, placeholder: "Write your message...", wrapper: false, input_html: {class: "chat-input-content"} %>
    <%= button_tag class:"chat-input-send" do  %>
      <i class="fa-solid fa-paper-plane"></i>
    <% end %>
  <% end %>
</div>
