<% content_for(:page) do %>
  Dashboard
<% end %>

<div class="container">
  <div class="profile-page">
    <div class="profile-infos">
      <div>
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class: "avatar-profile", crop: :fill %>
        <% else %>
          <%= image_tag "default_pfp.jpg", class: "avatar-profile", crop: :fill %>
        <% end %>
      </div>
      <div class="profile-details">
        <div class="profile-buttons-container">
          <button class="button profile-edit" title="Edit">
            <i class="fas fa-edit"></i>
          </button>
          <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "button profile-edit", title: "Log out" do %>
            <i class="fas fa-sign-out-alt"></i>
          <% end %>
        </div>
        <h5><%= current_user.first_name %> <%= current_user.last_name %></h5>
        <div>
          <div class="opacity-75"><%= current_user.birthdate.strftime("%m %B %Y") %></div>
          <div class="opacity-75"><%= current_user.email %></div>
        </div>
      </div>
    </div>
  </div>

  <h4>Favorites</h4>
  <% if current_user.favourites.count == 0 %>
    <p>You don't have any favorites yet</p>
  <% else %>
    <div id="favouritesControls" class="favourites carousel slide">
      <div class="carousel-inner">
        <% current_user.favourites.each_with_index do |fav, index| %>
          <div class="carousel-item <%= "active" if index == 0 %>">
            <%= render "spots/cards", spot: fav.spot %>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#favouritesControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#favouritesControls" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <% end %>

  <div class="boards-header">
    <h4>Boards</h4>
    <%= link_to new_user_board_path(current_user), class: "button board-button" do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>

  <% if current_user.boards.count == 0 %>
    <p>You don't have any boards yet</p>
  <% else %>
    <div class="boards-list">
      <% current_user.boards.each do |board| %>
        <div class="card-board">
          <div class="card-board-inner">
            <div class="card-board-front">
              <div class="image-container">
                <% if board.image.attached? %>
                  <%= cl_image_tag board.image.key, class: "board-image" %>
                <% else %>
                  <%= image_tag "surf-default.webp", alt: "Default Image", class: "board-image" %>
                <% end %>
              </div>
            </div>
            <div class="card-board-back">
              <div class="card-body">
                <div class="board-details">
                  <p>Brand: <%= board.brand %></p>
                  <p>Shape: <%= board.shape %></p>
                  <p>Width: <%= board.width %></p>
                  <p>Length: <%= board.length %></p>
                  <p>Thickness: <%= board.thickness %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <h4>Experiences</h4>
  <% if current_user.experiences.count == 0 %>
    <p>You don't have any experiences yet</p>
  <% else %>
    <div class="experiences">
      <% current_user.experiences.each do |experience| %>
        <%= render "shared/experience", experience: experience %>
      <% end %>
    </div>
  <% end %>
</div>
