<% content_for(:page) do %>
  Dashboard
<% end %>

<div class="container">
  <div class="profile-page-details">
    <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "profile-buttons" do %>
      <i class="fa-solid fa-door-open"></i>
    <% end %>

    <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, class: "avatar-profile", crop: :fill %>
    <% else %>
      <%= image_tag "default_pfp.jpg", class: "avatar-profile", crop: :fill %>
    <% end %>
    <div class="profile-infos">
      <h5><%= current_user.first_name %> <%= current_user.last_name %></h5>
      <div class="follow">
        <div>
          <p><%= current_user.experiences.count %></p>
          <p>Posts</p>
        </div>
        <div>
          <p><%= Follow.where(second_user: current_user).count %></p>
          <p>Followers</p>
        </div>
        <div>
          <p><%= current_user.follows.count %></p>
          <p>Following</p>
        </div>
      </div>
    </div>
  </div>

  <div class="profile-page">
    <div class="profile-header"><h4>Favorites</h4></div>
    <% if current_user.favourites.count == 0 %>
      <p>You don't have any favorites yet</p>
    <% else %>
      <div class="favourites">
        <% current_user.favourites.each_with_index do |fav, index| %>
          <div>
            <%= render "spots/cards", spot: fav.spot %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="profile-header">
      <h4>Boards</h4>
      <%= link_to new_user_board_path(current_user), class: "board-button" do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
    <% if current_user.boards.count == 0 %>
      <p>You don't have any boards yet</p>
    <% else %>
      <div class="boards-list">
        <% current_user.boards.each do |board| %>
          <div class="card-board" data-controller="flip" data-action="click->flip#rotate">
            <div class="card-board-inner" data-flip-target="card">
              <div class="card-board-front">
                <% if board.image.attached? %>
                  <%= cl_image_tag board.image.key, class: "board-image" %>
                <% else %>
                  <%= image_tag "surf-default.webp", alt: "Default Image", class: "board-image" %>
                <% end %>
              </div>
              <div class="card-board-back">
                  <div><strong>Brand:</strong> <div class="board-details"><%= board.brand %></div></div>
                  <div><strong>Shape:</strong> <div class="board-details"><%= board.shape.capitalize %></div></div>
                  <div>
                    <strong>Dimensions:</strong>
                    <div class="board-details">
                      <%= board.length.to_s.gsub(/(\d+)\.(\d+)/, '\1\'\2"') %> x
                      <%= board.width.to_s.gsub(/(\d+)\.(\d+)/, '\1\'\2"') %> x
                      <%= board.thickness.to_s.gsub(/(\d+)\.(\d+)/, '\1\'\2"') %>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="profile-header"><h4>Experiences</h4></div>
    <% if current_user.experiences.count == 0 %>
      <p>You don't have any experiences yet</p>
    <% else %>
      <div class="experiences">
        <% current_user.experiences.reverse.each do |experience| %>
          <%= render "shared/experience", experience: experience %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
